:root {
    /* Rose theme */
    --primary-light-rose: #ffeeee;
    --primary-dark-rose: #101010;
    --secondary-light-rose: #e5d4d4;
    --secondary-dark-rose: #313131;
    --tertiary-light-rose: #8b8b8b;
    --tertiary-dark-rose: #6e6e6e;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 2px;
    border-radius: 4px;
}

.slider-toggle::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: var(--primary-light-rose);
    border: 2px solid var(--primary-dark);
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle-dark::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #000;
    border: 2px solid var(--primary-light-rose);
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle::-moz-range-thumb {
    appearance: none;
    width: 8px;
    height: 8px;
    background: var(--primary-light-rose);
    border: 2px solid var(--primary-dark-rose);
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle-dark::-moz-range-thumb {
    appearance: none;
    width: 8px;
    height: 8px;
    background: #000;
    border: 2px solid var(--primary-light-rose);
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle::-webkit-slider-thumb:hover {
    background: var(--primary-dark-rose);
}

.slider-toggle::-moz-range-thumb:hover {
    background: var(--primary-dark-rose);
}

.slider-toggle-dark::-webkit-slider-thumb:hover {
    background: var(--primary-light-rose);
}

.slider-toggle-dark::-moz-range-thumb:hover {
    background: var(--primary-light-rose);
}

.default-bg {
    @apply dark:bg-primary-dark-rose bg-primary-light-rose;
}

.default-text {
    @apply dark:text-primary-light-rose text-primary-dark-rose;
}

.default-text-alt {
    @apply dark:text-secondary-dark-rose text-secondary-light-rose;
}

.bg-alt {
    @apply bg-primary-dark-rose dark:bg-primary-light-rose;
}

.text-alt {
    @apply text-primary-light-rose dark:text-primary-dark-rose;
}

.default-selected {
    @apply border-y bg-primary-dark-rose dark:bg-primary-light-rose text-primary-light-rose dark:text-primary-dark-rose border-b border-secondary-dark-rose dark:border-secondary-light-rose;
}

.default-outline {
    @apply border-y dark:border-secondary-dark-rose border-secondary-light-rose dark:hover:border-primary-light-rose hover:border-primary-dark-rose md:outline -outline-offset-1 outline-1 dark:outline-secondary-dark-rose outline-secondary-light-rose dark:hover:outline-primary-light-rose hover:outline-primary-dark-rose hover:relative;
}

.default-border {
    @apply border dark:border-secondary-dark-rose border-secondary-light-rose;
}

.default-border-b {
    @apply border-b dark:border-secondary-dark-rose border-secondary-light-rose;
}

.default-border-x {
    @apply border-x dark:border-secondary-dark-rose border-secondary-light-rose;
}

.default-border-r {
    @apply border-r dark:border-secondary-dark-rose border-secondary-light-rose;
}

.default-border-l {
    @apply border-l dark:border-secondary-dark-rose border-secondary-light-rose;
}

.default-hover {
    @apply dark:hover:bg-primary-light-rose dark:hover:text-primary-dark-rose hover:bg-primary-dark-rose hover:text-primary-light-rose;
}

.hover-nav-element {
    @apply -mr-px hover:-mb-px hover:border-b dark:hover:border-b-primary-light-rose hover:border-b-primary-dark-rose hover:relative;
}

.h4 {
    @apply font-bold text-2xl leading-3 tracking-tight;
}

.h5 {
    @apply font-medium;
}

.h5-bold {
    @apply font-bold;
}

.h5-custom {
    @apply text-base font-bold leading-3 tracking-tight;
}

.sm-mobile-flex {
    @apply sm:flex hidden;
}

.sm-mobile-block {
    @apply sm:block hidden;
}

.md-mobile-flex {
    @apply md:flex hidden;
}

.md-mobile-block {
    @apply md:block hidden;
}

.md-mobile-block-reverse {
    @apply block md:hidden;
}
