@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    height: 100%;
    width: 100%;

    font-synthesis: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter var;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

/* .default-bg {
  @apply dark:bg-gradient-to-bl from-gray-900 via-purple-900 to-violet-600;
} */

@font-face {
    font-family: 'Rubik';
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf');
}
