@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    height: 100%;
    width: 100%;

    font-synthesis: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter var;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 2px;
    width: 129px;
    border-radius: 4px;
}

.slider-toggle::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle-dark::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #000;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle::-moz-range-thumb {
    appearance: none;
    width: 8px;
    height: 8px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle-dark::-moz-range-thumb {
    appearance: none;
    width: 8px;
    height: 8px;
    background: #000;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle::-webkit-slider-thumb:hover {
    background: rgb(0, 0, 0);
}

.slider-toggle::-moz-range-thumb:hover {
    background: rgb(0, 0, 0);
}

.slider-toggle-dark::-webkit-slider-thumb:hover {
    background: #fff;
}

.slider-toggle-dark::-moz-range-thumb:hover {
    background: #fff;
}

.default-bg {
    @apply dark:bg-black bg-white;
}

/* .default-bg {
    @apply dark:bg-gradient-to-bl from-gray-900 via-purple-900 to-violet-600;
} */

.default-text {
    @apply dark:text-white text-black;
}

.default-text-alt {
    @apply dark:text-neutral-800 text-neutral-300;
}

.bg-alt {
    @apply bg-black dark:bg-white;
}

.text-alt {
    @apply text-white dark:text-black;
}

.default-selected {
    @apply bg-black dark:bg-white text-white dark:text-black outline -outline-offset-1 outline-1 outline-neutral-800 dark:outline-neutral-300;
}

.default-outline {
    @apply border-y dark:border-neutral-800 border-neutral-300 dark:hover:border-white hover:border-black md:outline -outline-offset-1 outline-1 dark:outline-neutral-800 outline-neutral-300 dark:hover:outline-white hover:outline-black hover:relative;
}

.default-border {
    @apply border dark:border-neutral-800 border-neutral-300;
}

.default-border-b {
    @apply border-b dark:border-neutral-800 border-neutral-300;
}

.default-border-x {
    @apply border-x dark:border-neutral-800 border-neutral-300;
}

.default-border-r {
    @apply border-r dark:border-neutral-800 border-neutral-300;
}

.default-border-l {
    @apply border-l dark:border-neutral-800 border-neutral-300;
}

.default-hover {
    @apply dark:hover:bg-white dark:hover:text-black hover:bg-black hover:text-white;
}

.h4 {
    @apply font-bold text-2xl leading-3 tracking-tight;
}

.h5 {
    @apply font-medium;
}

.sm-mobile-flex {
    @apply sm:flex hidden;
}

.sm-mobile-block {
    @apply sm:block hidden;
}

.md-mobile-flex {
    @apply md:flex hidden;
}

.md-mobile-block {
    @apply md:block hidden;
}

@font-face {
    font-family: 'Rubik';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf');
}
