@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    height: 100%;
    width: 100%;

    font-synthesis: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Main theme */
    --primary-light: #f0f0f0;
    --primary-dark: #101010;
    --secondary-light: #dbdbdb;
    --secondary-dark: #313131;
    --tertiary-light: #8b8b8b;
    --tertiary-dark: #6e6e6e;

    /* Rose theme */
    --primary-light-rose: #ffeeee;
    --primary-dark-rose: #101010;
    --secondary-light-rose: #e5d4d4;
    --secondary-dark-rose: #313131;
    --tertiary-light-rose: #8b8b8b;
    --tertiary-dark-rose: #6e6e6e;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter var;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 2px;
    border-radius: 4px;
}

.slider-toggle::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: var(--primary-light);
    border: 2px solid var(--primary-dark);
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle-dark::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #000;
    border: 2px solid var(--primary-light);
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle::-moz-range-thumb {
    appearance: none;
    width: 8px;
    height: 8px;
    background: var(--primary-light);
    border: 2px solid var(--primary-dark);
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle-dark::-moz-range-thumb {
    appearance: none;
    width: 8px;
    height: 8px;
    background: #000;
    border: 2px solid var(--primary-light);
    border-radius: 50%;
    cursor: pointer;
}

.slider-toggle::-webkit-slider-thumb:hover {
    background: var(--primary-dark);
}

.slider-toggle::-moz-range-thumb:hover {
    background: var(--primary-dark);
}

.slider-toggle-dark::-webkit-slider-thumb:hover {
    background: var(--primary-light);
}

.slider-toggle-dark::-moz-range-thumb:hover {
    background: var(--primary-light);
}

.default-bg {
    @apply dark:bg-primary-dark bg-primary-light;
}

/* .default-bg {
    @apply dark:bg-gradient-to-bl from-gray-900 via-purple-900 to-violet-600;
} */

.default-text {
    @apply dark:text-primary-light text-primary-dark;
}

.default-text-alt {
    @apply dark:text-secondary-dark text-secondary-light;
}

.bg-alt {
    @apply bg-primary-dark dark:bg-primary-light;
}

.text-alt {
    @apply text-primary-light dark:text-primary-dark;
}

.default-selected {
    @apply border-y bg-primary-dark dark:bg-primary-light text-primary-light dark:text-primary-dark border-b border-secondary-dark dark:border-secondary-light;
}

.default-outline {
    @apply border-y dark:border-secondary-dark border-secondary-light dark:hover:border-primary-light hover:border-primary-dark md:outline -outline-offset-1 outline-1 dark:outline-secondary-dark outline-secondary-light dark:hover:outline-primary-light hover:outline-primary-dark hover:relative;
}

.default-border {
    @apply border dark:border-secondary-dark border-secondary-light;
}

.default-border-b {
    @apply border-b dark:border-secondary-dark border-secondary-light;
}

.default-border-x {
    @apply border-x dark:border-secondary-dark border-secondary-light;
}

.default-border-r {
    @apply border-r dark:border-secondary-dark border-secondary-light;
}

.default-border-l {
    @apply border-l dark:border-secondary-dark border-secondary-light;
}

.default-hover {
    @apply dark:hover:bg-primary-light dark:hover:text-primary-dark hover:bg-primary-dark hover:text-primary-light;
}

.hover-nav-element {
    @apply -mr-px hover:-mb-px hover:border-b dark:hover:border-b-primary-light hover:border-b-primary-dark hover:relative;
}

.h4 {
    @apply font-bold text-2xl leading-3 tracking-tight;
}

.h5 {
    @apply font-medium;
}

.h5-bold {
    @apply font-bold;
}

.h5-custom {
    @apply text-base font-bold leading-3 tracking-tight;
}

.sm-mobile-flex {
    @apply sm:flex hidden;
}

.sm-mobile-block {
    @apply sm:block hidden;
}

.md-mobile-flex {
    @apply md:flex hidden;
}

.md-mobile-block {
    @apply md:block hidden;
}

.md-mobile-block-reverse {
    @apply block md:hidden;
}

@font-face {
    font-family: 'Rubik';
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf');
}
